!!! 5
%html
  %head
    %title Blog-Admin
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body{ class: "admin #{params[:controller]}_#{params[:action]}" }
    .row-fluid
      .span12
        #nav
          .navbar.navbar-fixed-top.navbar-inverse
            .navbar-inner
              %ul.nav
                %li
                  %a{ href: "#", class: "active" } Home
                %li
                  %a{ href: "#" } Posts
                %li
                  %a{ href: "#" } Tags
                %li
                  %a{ href: "#" } Cateories
                %li
                  %a{ href: "#" } Admins
              %ul.nav.pull-right
                %li
                  = link_to "My Blog", root_path, class: "brand"
        #main
          = yield
